{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <h3>Add Task</h3>
    <br />
    <form method="POST" action="">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% for field in form %}
        <div class="mb-3">
            <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                    <div class="text-danger small">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-success">Add Task</button>
            <a href="{% url 'task_list' %}" class="btn btn-dark">Back</a>
        </div>
    </form>
</div>

{% endblock %}